@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Merriweather Sans', sans-serif;
  }
  * {
  }
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.active {
  @apply border-b-2 border-yellow-400;
}

.heading-1 {
  font-size: clamp(2rem, 0.75rem + 4vw, 3rem);
}
.paragraph {
  font-size: clamp(0.75rem, 0.125rem + 2vw, 1.25rem);
}
